<h2>Create New Figure</h2>

<form action="/figures" method="post">
  <p><label for="figure_name">Figure Name: </label>
  <input id="figure_name" type="text" name="figure[name]"></p>
  <h3>Titles</h3>
  <% @titles.each do |title| %>
    <input id="title_<%= title.id %>"
           type="checkbox"
           name="figure[title_ids][]"
           value="<%= title.id %>">
           <%= title.name %>
    </input><br>
  <% end %>

  <h3>Create New Title:</h3>
  <label for="new_title"></label>
  <input id="new_title"
         type="text"
         name="title[name]">

  <h3>Landmarks</h3>
  <% @landmarks.each do |landmark| %>
    <input id="landmark_<%= landmark.id %>"
           type="checkbox"
           name="figure[landmark_ids][]"
           value="<%= landmark.id %>">
           <%= landmark.name %>
    </input><br>
  <% end %>


  <h3>Create New Landmark</h3>
  <p>
    <label for="new_landmark">Landmark Name: </label>
    <input type="text"
           id="new_landmark"
           name="landmark[name]">
  </p>
  <p>
    <label for="landmark_year_completed">Year Completed: </label>
    <input type="text"
           id="landmark_year_completed"
           name="landmark[year_completed]">
  </p>

  <p><input type="submit" value="Create New Figure"></p>
</form>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
